*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/release
/.kotlin
/app/src/main/java/northern/captain/litechat/app/config/ApiConfig.kt
